{
  "trailingComma": "es5",
  "singleQuote": true,
  "importOrder": [
    "^(react(.*)|recoil)$",
    "<THIRD_PARTY_MODULES>",
    "^(\\.|\\.\\.)/(.(?!.(css|scss)))*$",
    "\\.(css|scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}