{
  "trailingComma": "es5",
  "singleQuote": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)*$",
    "^(\\.|\\.\\.)/(.(?!.(css|scss)))*$",
    "\\.(css|scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}